allow init kernel:security load_policy;
allow init diag_device:chr_file unlink;
allow init tmpfs:lnk_file create_file_perms;
allow init fuse_device:chr_file getattr;
allow init loop_device:blk_file write;
allow init procrank_exec:file { read getattr open };
allow init property_socket:sock_file write;
allow init self:rawip_socket { getopt create setopt };

