## Kernel bug for Linux < 3.3: sysfs inodes can lose their security context
## and revert to the base sysfs type.
allow init sysfs:file write;

allow init debugfs:dir mounton;
allow init logd:dir { getattr };
allow init logd:dir { read open };

allow init sysfs_firmware_writable:file w_file_perms;

allow init sysfs_devices_tegradc:lnk_file { read };

allow init debugfs:file w_file_perms;
allow init tmpfs:lnk_file create_file_perms;

allow init tmpfs:lnk_file create;

#Superuser Embedded
allow init su:process { siginh transition rlimitinh noatsecure };
#allow init su_exec:file rx_file_perms;
allow init su_exec:file { read getattr open execute };
allow init su_device:sock_file relabelto;
allow init su_device:dir relabelto;
allow init device:dir relabelfrom; #/init.superuser.rc
allow init device:sock_file { relabelfrom getattr }; #/init.superuser.rc

allow init kernel:system syslog_read;

#SuperSU support
allow init system_file:file execute_no_trans;
allow zygote init:unix_stream_socket { read write };
allow init kernel:security { load_policy read_policy};

# Allow mounting /per
allow init oemfs:dir mounton;

